:root {
    --primary-color: #F3F4F6;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {

font-family: 'Montserrat', sans-serif;

}

.navigation-bar {
    background-color: #8080e2;
    border-bottom-left-radius: 1rem;
}

.name-color {
    padding: 1rem;
}

.nav-lists {
    text-decoration: none;
}

.text-align {
    text-align: right;
    padding: 1rem;
}

.first-lists{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.img-body {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}
.center-heading {
    text-align: center;
    padding: 1.5rem;
    /* padding-bottom: 1 rem; */
}

li {
    display: inline-block;
}

.developer{
    text-align: center;
}
.developer-color {
    color: blue;
}
.skills-list {
    padding: 1rem 7rem;
    
}

.space-content {
    padding: 1rem;
}

.space-content-my-skills {
    padding: 0.5rem 1 rem;

}
.technologies-lists {
    text-align: center;
}
.projects-content {
    text-align: center;
    padding: .5rem;
}
.grey-body {
    background-color: var(--primary-color);
}

.btn-projects {
    padding: 0.5rem;
    background-color: rgb(104, 104, 223);
    color: rgb(0, 0, 0);
    /* border-bottom-left-radius : 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius : 1rem;
    border-bottom-right-radius: 1rem; */
    border-radius: 1rem;
    text-decoration: none;
    margin: 28rem;
    /* padding-top: 5 rem; */
}

.footer {
    padding: 100 rem;
    background-color: var(--primary-color);

}

.social-btn {
    /* padding: .5rem; */
    border-radius: 1rem;
    padding: .5rem 2rem;
    background-color:rgb(104, 104, 223) ;
    color: black;
   
    /* margin-left: 100 rem; */
    
    /* margin: 100 rem 50 rem; */


}
.btn-last{
    text-align: center;
}

/* <----------This is Projects part. ------------>*/

.center-heading-project{
    text-align: center;
}

.project-content {
    padding-top: .5 rem;
    margin-left: 2rem;
    
}

.left-content{
    margin-left: 5rem;
    padding-bottom: 1.2rem;
}

.btn-project{
    background-color: rgb(120, 120, 238);
    padding: .5rem 1.2rem;
    
    margin: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0) ;

}

